<div class="section">

    <div class="valign-wrapper chat-header blue lighten-5">

    </div>

    <div class="row">
        <div class="conversations col s12 ">
            <div class="row messages">
                <ul class="collection">
                </ul>
            </div>

            <div class="row">

                <form class="col s12 message-form">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name="message" id="icon_prefix2" class="materialize-textarea input-message"></textarea>
                            <label for="icon_prefix2">Message</label>
                        </div>

                        <div class="col s4">
                            <button class="waves-effect waves-light btn send-message-btn" type="submit"><i class="material-icons right">send</i>send</button>
                            <input type="checkbox" id="nearest" name="nearest">
                            <label for="nearest"> Nearest</label>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
