<div class="content">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <input placeholder={{event.eventName}} id="eventName" type="text" class="validate" ng-model="event.eventName">
                    <label for="eventName">PubCrawl Name</label>
                </div>
                <div class="input-field col s3 m3 l3">
                    <input placeholder={{event.date}} type="date" class="datepicker" ng-model="event.date">
                </div>
                <div class="input-field col s3 m3 l3">
                    <input type="checkbox" class="filled-in" id="tracker" ng-model="event.tracked"/>
                    <label for="tracker">Should your PubCrawl be trackable?</label>
                </div>
            </div>
            <div class="row">
                <form class="col s11 m11 l11">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea placeholder={{event.description}} id="descriptor" class="materialize-textarea" ng-model="event.description"></textarea>
                            <label for="descriptor">Description</label>
                        </div>
                    </div>
                </form>
            </div>
        </form>
        <a class="waves-effect waves-light btn-large" ng-click="saveEvent()">Button</a>
        <a class="waves-effect waves-light btn-large" ng-click="saveTime()">Button</a>
    </div>
    <div class="row">
        <div class="col s12 m8 l8" style="height: 100%">
            <ng-map id="map" zoom="13" center="current-position" style="height:90%">
                <directions
                        draggable="false"
                        panel="directions-panel"
                        travel-mode="WALKING"
                        waypoints="{{wayPoints}}"
                        origin="{{startPub}}"
                        destination="{{endPub}}">
                </directions>

                <marker ng-repeat="mark in openPubs" position="{{mark.lat}},{{mark.lng}}" title="{{mark.pubName}}"
                        on-click="showInfoWindow(event,mark)"></marker>
            </ng-map>
            <!--    Directions path length:
                {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}-->
        </div>

        <div class="col s12 m4 l4">
            <div class="collection" style="height: 300px; overflow-y: scroll; margin-top: 0px">
                <a href="" class="collection-item" ng-repeat="pub in openPubs" ng-click="deleteFromOpens(pub)">{{pub.pubName}}
                </a>
            </div>
        </div>

    </div>
    <div class="col s12 m4 l4">

        <ul class="collection" style="height: 300px; overflow-y: scroll; margin-top: 0px">
            <li class="collection-item avatar" ng-repeat="pub in usedPubs">

                <div class="row">
                    <div class="col s1 m1 l1">
                        <img src="" alt="" class="circle">
                    </div>
                    <div class="col s3 m3 l3">
                        <span class="title">Title</span>
                    </div>
                    <div class="col s3 m3 l3">

                        <form name="timeForm" ng-controller="createController">
                            <label for="startingTime">Arriving around:</label>
                            <input type="time" id="startingTime" name="input" ng-model="timer.startingTime"
                                   placeholder="timer.startingTime" min="00:00:00" max="23:59:59"/>
                        </form>
                    </div>
                    <div class="col s3 m3 l3">
                        <form name="timeForm" ng-controller="createController">
                            <label for="endingTime">Leaving around:</label>
                            <input type="time" id="endingTime" name="input" ng-model="timer.endingTime"
                                   placeholder="timer.endingTime" min="00:00:00" max="23:59:59"/>
                        </form>
                    </div>
                    <div class="col s1 m1 l1">
                        <a href="" class="secondary-content" ng-click="deleteFromUsed(pub)"><i
                                class="material-icons">grade</i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--<div id="directions-panel" style="width: 28%; float:left; height: 100%; overflow: auto; padding: 0px 5px">-->
