<div class="container">
    <div class="content">
        <h5>Add Details</h5>
        <div class="row">
            <form class="col s12 m12 l12" id="createEvent">
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <input id="pubName" type="text" class="validate" ng-model="pub.pubName">
                        <label for="pubName">PubCrawl Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 m4 l4">
                        <i class="material-icons">store_mall_directory</i>
                        <p>How big is the Pub?</p>
                        <p class="range-field">
                            <input type="range" id="PubSize" min="0" max="5" ng-model="pub.size"/>
                        </p>
                    </div>
                    <div class="col s2 m2 l2"></div>
                    <div class="input-field col s4 m4 l4">
                        <i class="material-icons">attach_money</i>
                        <p>How expensive is the Pub?</p>
                        <p class="range-field">
                            <input type="range" id="PubPrice" min="0" max="5" ng-model="pub.price"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 m4 l4">
                        <i class="material-icons">alarm_on</i>
                        <p>When is the Pub opening?</p>
                        <input type="time" id="openingTime" name="input"
                               ng-model="timer.openingTime" min="00:00:00"
                               max="23:59:59"/>
                    </div>
                    <div class="col s2 m2 l2"></div>
                    <div class="input-field col s4 m4 l4">
                        <i class="material-icons">alarm_off</i>
                        <p>When is the Pub closing?</p>
                        <input type="time" id="closingTime" name="input"
                               ng-model="timer.closingTime" min="00:00:00"
                               max="23:59:59"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                            <textarea id="descriptor" class="materialize-textarea"
                                      ng-model="pub.description"></textarea>
                        <label for="descriptor">Description</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content">
        <h5>Select your Pubs</h5>
        <div class="row">
            <div class="col s12 m12 l12" style="height: 100%" id="addPubs">
                <ng-map id="map" zoom="13" center="{{marker.position}}" style="height:300px">
                    <marker position="{{marker.position}}"
                            draggable="true"
                            on-dragend="getCoords()"
                            title="Drag me to the Pub :)">
                    </marker>
                </ng-map>
                <br/>Address : <input ng-model="marker.position"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <a class="waves-effect waves-light btn-large" ng-click="saveEvent()">Create
                Event</a>
        </div>
    </div>
</div>


<!--<div id="directions-panel" style="width: 28%; float:left; height: 100%; overflow: auto; padding: 0px 5px">-->
