html, body {
    height: 100%;
    background-color: #f8e7c3;
    /*background-image: url("images/beer.jpg");*/
}

#right {
    width: 20%;
    height: 100%;
    position: fixed;
}

.parallax-container {
    margin-bottom: -20px;
    height: 300px;
}

.participant-table {
    display: inline-flex;
}

footer.page-footer {
    margin-top: 0px;
}

#eventList {
    margin-top: 0px;
    box-shadow: none !important;
    border: none !important
}

#tableD {
    padding: 0;
    width: 50%;
}

#timelabel {
    display: inline-block;
    width: 140px;
    /*text-align: right;*/
    background-color: #00b0ff;
}

.material-icons.pubicon {
    display: inline-block;
    width: 15px;
}

.card.sticky-action {
    border: 1px solid wheat;
    padding: 0;
}

.create {
/*    margin-right: -10px;*/
    background-color: rgba(255, 177, 18, 0.8);
}

.create .btn:hover, .btn-large:hover {
    background-color: rgb(0, 160, 70);
}

.nav {
    background-color: rgba(255, 177, 18, 0.8);
}

.pubslist {
    background-color: #eaeaea;
}

.collection-item.pubslist {
    background-color: #f7f7f7;
}

.collection-item.avatar.pubslistitem {
    border: 1px solid #e0e0e0;
    background-color: #f7f7f7;
}

.getbordered {
    border: 2px solid #bdbdbd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.section.ower {
    padding-left: 50px;
    padding-top: 40px;
}

.row.container.ower {
    padding-top: 30px;
}


section#timeline {
    margin-left: -20px;
    position: relative;
}
section#timeline article {
    width: 100%;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    float: left;
    margin: 20px 0 0 20px;
    border-radius: 6px;
}
section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -25px;
    border-radius: 6px 6px 6px 6px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #b7b7b7;
    color: rgb(190, 100, 20);
    border: 1px solid rgba(134, 134, 134, 0.49);
}
section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner span.date span.day {
    font-size: 10px;
}
section#timeline article div.inner span.date span.month {
    font-size: 18px;
    padding-top: 5px;
}
section#timeline article div.inner span.date span.year {
    font-size: 10px;
}
section#timeline article div.inner h2 {
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}
section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #f0f0f0;
    color: #656565;
    border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}
section#timeline article div.inner h2 {
    background: #fdbb35;
}
section#timeline article div.inner h2:after {
    background: #fdbb35;
}
