html, body {
    height: 100%;
    background-color: #f8e7c3;
    /*background-image: url("images/beer.jpg");*/
}

#right {
    width: 20%;
    height: 100%;
    position: fixed;
}

.parallax-container {
    margin-bottom: -20px;
    height: 300px;
}

footer.page-footer {
    margin-top: 0px;
}

#eventList {
    margin-top: 0px;
    box-shadow: none !important;
    border: none !important
}

#tableD {
    padding: 0;
    width: 50%;
}

#timelabel {
    display: inline-block;
    width: 140px;
    /*text-align: right;*/
    background-color: #00b0ff;
}


.material-icons.pubicon {
    display: inline-block;
    width: 15px;
}

.card.sticky-action {
    margin-right: 2px;
    padding: 0;
}

.nav{
    background-color: rgba(255, 177, 18, 0.8);
}