<div class="container">
    <h1>Welcome to PubCrawl 2.0</h1>
    <h2>Here are some awesome Pubcrawls:</h2>
    <div class="row">
        <div class="card sticky-action col s6 m4 l3" ng-repeat="event in allEvent"
             style="padding: 0; border: solid white">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img class="activator" src="/images/lights.jpg">
            </div>
            <div class="card-content hoverable">
                <p class="activator grey-text text-darken-4">{{event.eventName}}<i
                        class="material-icons right">more_vert</i></p>
                <p>{{event.date | date : 'longDate'}}</p>
            </div>
            <div class="card-action ">
                <a ng-click="setCurrentEvent(event._links.self.href)" ng-href="/event">Go to Event</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i
                        class="material-icons right">close</i></span>
                <table>
                    <tr>
                        <td></td>
                        <td>{{event.eventName}}</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">face</i></td>
                        <td>{{event._links.eventOwner}}</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">announcement</i></td>
                        <td>{{event.description}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<form ng-submit="submit()" ng-controller="homeController">
    <input type='file' ng-model='image' base-sixty-four-input>
    <input type="submit" id="submit" value="Submit"/>
</form>

<img data-ng-src="data:image/jpeg;base64,{{image}}" data-err-src="images/png/avatar.png"/>
