<div class="content" ng-if="myEvents.length != 0">
    <div class="section ower">
        <h4>Youre own Events:</h4>
        <div class="row container ower">
            <div class="card sticky-action col s6 m4 l3" ng-repeat="event in myEvents">
                <div class="card-image">
                    <img ng-if="event.eventImage!=null" data-ng-src="data:image/jpeg;base64,{{event.eventImage}}"
                         data-err-src="/images/lights.jpg"/>
                    <img ng-if="event.eventImage==null" src="/images/lights.jpg">
                </div>
                <div class="card-content">
                    <p class="activator grey-text text-darken-4">{{event.eventName}}</p>
                    <p>{{event.date | date : 'dd.MM.yyyy'}}</p>
                </div>
                <div ng-if="authenticated" class="card-action ">
                    <a ng-click="setCurrentEvent2(event._links.self.href)" ng-href="/event">Go to Event</a>
                    <a ng-click="deleteEve(event._links.self.href)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content" ng-if="myPubs.length != 0">
    <div class="section ower">
        <h4>Youre own Pubs:</h4>
        <div class="row container ower">
            <div class="card sticky-action col s6 m4 l3" ng-repeat="event in myPubs">
                <div class="card-image">
                    <img ng-if="event.pubImage!=null" data-ng-src="data:image/jpeg;base64,{{event.pubImage}}"
                         data-err-src="/images/beermug.png"/>
                    <img ng-if="event.pubImage==null" src="/images/beermug.png">
                </div>
                <div class="card-content">
                    <p class="activator grey-text text-darken-4">{{event.pubName}}</p>
                    <p class="activator grey-text text-darken-4">{{event.size}}</p>
                    <p class="activator grey-text text-darken-4">{{event.price}}</p>
                    <p class="activator grey-text text-darken-4">{{event.adress}}</p>
                    <p class="activator grey-text text-darken-4">{{event.openingTime}} -  {{event.closingTime}}</p>
                </div>
                <div ng-if="authenticated" class="card-action ">
                    <a ng-click="deletePub(event._links.self.href)" ng-href="/">Edit this Pub</a>
                    <a ng-click="deletePub(event._links.self.href)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="section ower">
        <h4>Join other Pubcrawls: </h4>
        <div class="row container ower">
            <div class="card sticky-action col s6 m4 l3" ng-repeat="event in allEvent">
                <div class="card-image">
                    <img ng-if="event.eventImage!=null" data-ng-src="data:image/jpeg;base64,{{event.eventImage}}"
                         data-err-src="/images/lights.jpg"/>
                    <img ng-if="event.eventImage==null" src="/images/lights.jpg">
                </div>
                <div class="card-content">
                    <p class="activator grey-text text-darken-4">{{event.eventName}}</p>
                    <p>{{event.date | date : 'dd.MM.yyyy'}}</p>
                </div>
                <div ng-if="authenticated" class="card-action ">
                    <a ng-click="setCurrentEvent(event._links.self.href)" ng-href="/event">Go to Event</a>
                </div>
            </div>
        </div>
    </div>
</div>