<div class="content" ng-if="notauthenticted">
    <div class="section ower" style="text-align: center;">
        <h2>Welcome to Pubcrawl 2.0 </h2>
        <h4>Download our app here!</h4>
        <a target="_self" href="/images/Pubcrawl2.0.apk" download="Pubcrawl2.0.apk"><i class="large material-icons" style="color: #00C853">android</i></a>
        <h4>Create your own Pubcrawl in 5 Minutes!</h4>
    </div>
    <div class="carousel" style="margin-bottom: -175px">
        <div class="carousel-item"><h5>Add some basic information</h5><img class="getbordered" src="/images/stepone.JPG"></div>
        <div class="carousel-item"><h5>Select the pubs you will visist</h5><img class="getbordered" src="/images/steptwo.jpg"></div>
        <div class="carousel-item"><h5>Invite people to your pubcrawl</h5><img class="getbordered" src="/images/stepthree.jpg"></div>
        <div class="carousel-item"><h5>Have an overview of your event</h5><img class="getbordered" src="/images/mainevent.JPG"></div>
        <div class="carousel-item"><h5>You can even add pubs!</h5><img class="getbordered" src="/images/register.JPG"></div>
        <div class="carousel-item"><h5>And they can be used from everyone</h5><img class="getbordered" src="/images/ownpub.jpg"></div>
        <div class="carousel-item"><h5>Get an overview of all pubcrawls</h5><img class="getbordered" src="/images/allevents.JPG"></div>
    </div>
</div>


<div class="content" ng-if="!notauthenticted">
    <div class="section" style="text-align: center;">
        <div class="col s12">
            <ul class="tabs">
                <li class="getbordered tab col s3 m3 l3 tabs-fixed-width"><a ng-click="changeTab(3)" href="#allevents">Events</a>
                </li>
                <li class="getbordered tab col s m3 l3 tabs-fixed-width"><a ng-click="changeTab(1)" href="#joined">Joined
                    Events</a>
                </li>
                <li class="getbordered tab col s3 m3 l3 tabs-fixed-width"><a ng-click="changeTab(2)" href="#ownevents">My
                    Events</a>
                </li>
                <li class="getbordered tab col s3 m3 l3 tabs-fixed-width"><a ng-click="changeTab(4)" href="#ownpubs">My
                    Pubs</a>
                </li>
            </ul>
        </div>
        <div id="joined" ng-if="currentTub==1">
            <h4 ng-if="joinedEvents.length == 0" style="padding-top: 80px;">No events joined, join one!</h4>
            <div class="content" ng-if="joinedEvents.length != 0">
                <div class="section ower">
                    <div class="row container ower">
                        <div class="card sticky-action col s6 m4 l3" ng-repeat="event in joinedEvents">
                            <div class="card-image">
                                <img ng-if="event.eventImage!=null"
                                     data-ng-src="data:image/jpeg;base64,{{event.eventImage}}"
                                     data-err-src="/images/lights.jpg"/>
                                <img ng-if="event.eventImage==null" src="/images/lights.jpg">
                            </div>
                            <div class="card-content" style="text-align: left">
                                <p class="activator grey-text text-darken-4"><h6>{{event.eventName}}</h6></p>
                                <p>{{event.date | date : 'dd.MM.yyyy'}}</p>
                            </div>
                            <div ng-if="authenticated" class="card-action ">
                                <a ng-click="setCurrentEvent3(event._links.self.href)" ng-href="/event">Go to Event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ownevents" ng-if="currentTub==2">
            <h4 ng-if="myEvents.length == 0" style="padding-top: 80px;">You do not own any events, create one!.</h4>
            <div class="content" ng-if="myEvents.length != 0">
                <div class="section ower">
                    <div class="row container ower">
                        <div class="card sticky-action col s6 m4 l3" ng-repeat="event in myEvents">
                            <div class="card-image">
                                <img ng-if="event.eventImage!=null"
                                     data-ng-src="data:image/jpeg;base64,{{event.eventImage}}"
                                     data-err-src="/images/lights.jpg"/>
                                <img ng-if="event.eventImage==null" src="/images/lights.jpg">
                            </div>
                            <div class="card-content" style="text-align: left">
                                <p class="activator grey-text text-darken-4"><h6>{{event.eventName}}</h6></p>
                                <p>{{event.date | date : 'dd.MM.yyyy'}}</p>
                            </div>
                            <div ng-if="authenticated" class="card-action ">
                                <a ng-click="setCurrentEvent2(event._links.self.href)" ng-href="/event">Go to Event</a>
                                <a ng-click="deleteEve(event._links.self.href)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="allevents" ng-if="currentTub==3">
            <h4 ng-if="allEvent.length == 0" style="padding-top: 80px;">No events available right now :(</h4>
            <div class="content" ng-if="allEvent.length != 0">
                <div class="section ower">
                    <div class="row container ower">
                        <div class="card sticky-action col s6 m4 l3" ng-repeat="event in allEvent">
                            <div class="card-image">
                                <img ng-if="event.eventImage!=null"
                                     data-ng-src="data:image/jpeg;base64,{{event.eventImage}}"
                                     data-err-src="/images/lights.jpg"/>
                                <img ng-if="event.eventImage==null" src="/images/lights.jpg">
                            </div>
                            <div class="card-content" style="text-align: left">
                                <p class="activator grey-text text-darken-4"><h6>{{event.eventName}}</h6></p>
                                <p>{{event.date | date : 'dd.MM.yyyy'}}</p>
                            </div>
                            <div ng-if="authenticated" class="card-action ">
                                <a ng-click="setCurrentEvent(event._links.self.href)" ng-href="/event">Go to Event</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ownpubs" ng-if="currentTub==4">
            <h4 ng-if="myPubs.length == 0" style="padding-top: 80px;">You do not own any Pubs, register one!</h4>
            <div class="content" ng-if="myPubs.length != 0">
                <div class="section ower">
                    <div class="row container ower">
                        <div class="card sticky-action col s6 m4 l3" ng-repeat="event in myPubs">
                            <div class="card-image">
                                <img ng-if="event.pubImage!=null"
                                     data-ng-src="data:image/jpeg;base64,{{event.pubImage}}"
                                     data-err-src="/images/beermug.png"/>
                                <img ng-if="event.pubImage==null" src="/images/beermug.png">
                            </div>
                            <div class="card-content" style="text-align: left">
                                <p class="activator grey-text text-darken-4">Name : {{event.pubName}}</p>
                                <p class="activator grey-text text-darken-4">Address : {{event.adress}} </p>
                                <p class="activator grey-text text-darken-4">Times : {{event.openingTime}} -
                                    {{event.closingTime}}</p>
                                <p class="activator grey-text text-darken-4">Size : 5/{{event.size}}</p>
                                <p class="activator grey-text text-darken-4">Price : 5/{{event.price}}</p>
                            </div>
                            <div ng-if="authenticated" class="card-action ">
                                <a ng-click="deletePub(event._links.self.href)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
